body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./blue-moon.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white !important;
  
}

button {
  color: white !important;
  background: black !important;
  border-radius: 25px !important;
  opacity: 0.6 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-color: #3498db;
  border-radius: 0.6em;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
button:hover {
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollMe {
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}

.scrollMe-Big {
  overflow:scroll;
  overflow-x:hidden;
  max-height: 1100px;
}

/* width */
::-webkit-scrollbar {
  width: 30px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-color: #3498db;
    border-radius: 0.6em;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

#home-div {
  
  margin: 0px !important;
  height: 100%;
}

#home-div img {
  width: 90%;
  height: auto;
}

#blog-post {
  margin: "0px"
}