

.mainPage {
    background: url('./another-rough-old-and-worn-parchment-paper-min.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    color:black;
    text-align: center;
    width: 90%;
    margin: 5% !important;
    min-height: 90vh !important;
    
    padding: 0;
    font-family: 'Estonia', cursive;
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 25px;
    /* clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); */
    box-shadow: 0px 0px 10px 10px black inset;
}

.modal {
    color: tan !important;
    /* background-color:black; */
}

.mainPage h2 {
    text-decoration: underline;
    font-size: 2.5em;
}

.raceInfo {
    margin-left: 5%;
    margin-right: 2.5%;
    width: 90%;
}

.characterHeader {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.tooltip {
    
    font-family: sans-serif !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
    max-width: 300px !important;
    width: 300px !important;
}

.classInfo li {
    display: block;
}



.card-body input {
    text-align: center;
    font-size: 1em;
    border: 1px black solid;
    border-radius: 25px;
}

.card {
    border-radius: 25px !important;
    
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hide {
    display:none;
}

.hidden {
    visibility:hidden
}

#journey {
    width: 75%; 
    height: auto;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.9);
    border-radius: 25px;
    margin-bottom: 100px;
}
