#character {
    background: url('./another-rough-old-and-worn-parchment-paper.jpg');
    background-position: center;
    color:black
    
}

#raceinfo {
    

}

#classinfo {
    
}

.form-group input {

    display: block;

  }

  
