
/* li {
  display: flex;
  list-style: none;
} */

#diceContainer select {
  background: transparent;
  border: none; 
}



/* #quantity {
  border-bottom: 1px black solid;
}

#diceContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
 

}  */
